<section class="section mb-3" id="about">
    <h1 class="section-heading text-center mb-5 mt-4 black-text wow fadeIn" data-wow-delay="0.2s">About Me</h1>

    <div class="row wow FadeIn" data-wow-delay="0.4s">
        <div class="col-md-12 pb-5 text-center black-text">
            <p class="lead mb-4"> My name Dean Clifford Sabroso, I'm self-taught "Graphic Desinger" also a "Photographer".</p>
            <p>Becoming a self-taught graphic designer and photographer is a journey marked by curiosity, creativity, and determination. As a self-taught graphic designer, I have immersed myself in the world of colors, shapes, and layouts, learning the principles
                of design through online tutorials, practice, and experimentation. Through trial and error, I have honed my skills in Adobe Lighroom and mastering tools like Photoshop to bring my creative visions to life. Concurrently, my passion for
                photography has led me to explore the intricacies of composition, lighting, and storytelling through the lens. Capturing moments and emotions in a single frame has become my way of expressing the beauty I see in the world. The dual roles
                of graphic designer and photographer have empowered me to blend artistry with technical expertise, creating visual narratives that inspire and resonate with audiences on a profound level..</p>
        </div>
    </div>
</section>