<header>
    <div class="view jarallax" data-jarallax='{"speed":0.2}' style="background-image: url('https://private-user-images.githubusercontent.com/93834480/327931188-06752a6e-e989-48a0-8dfa-0d6ad22c185f.jpg?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MTQ4MDY3MjksIm5iZiI6MTcxNDgwNjQyOSwicGF0aCI6Ii85MzgzNDQ4MC8zMjc5MzExODgtMDY3NTJhNmUtZTk4OS00OGEwLThkZmEtMGQ2YWQyMmMxODVmLmpwZz9YLUFtei1BbGdvcml0aG09QVdTNC1ITUFDLVNIQTI1NiZYLUFtei1DcmVkZW50aWFsPUFLSUFWQ09EWUxTQTUzUFFLNFpBJTJGMjAyNDA1MDQlMkZ1cy1lYXN0LTElMkZzMyUyRmF3czRfcmVxdWVzdCZYLUFtei1EYXRlPTIwMjQwNTA0VDA3MDcwOVomWC1BbXotRXhwaXJlcz0zMDAmWC1BbXotU2lnbmF0dXJlPTE3OTNkZDYyODczMWExYWVmNTc0ODlmYzkzOGMxMGFkZjVjZDU1MTQ5NjE0M2NjMTkyM2Q5ZjI1ZmFmMWM5MGImWC1BbXotU2lnbmVkSGVhZGVycz1ob3N0JmFjdG9yX2lkPTAma2V5X2lkPTAmcmVwb19pZD0wIn0.EgISuq4KEfwlUArwctIQf08k-jMljl4B_4XkR0v08SA');
    min-height:800px;>
        <div class=" mask rgba-black-strong ">
            <div class="container h-100 d-flex justify-content-center align-items-center ">
                <div class="row smooth-scroll ">
                    <div class="col-md-12 ">
                        <div class="white-text text-center ">
                            <h2 class="display-3 font-weight-bold pb-3 mb-2 wow fadeIn " style="color:#d05840; text-shadow: 12px 12px 8px rgb(45, 44, 44); ">Dean Sabroso</h2>
                            <h3 class="intro-subtext wow fadeIn " data-wow-delay="0.2s ">Graphic Designer | Photographer</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>